@font-face { 
    font-family: "Lucida Sans Unicode";
    src: url(../font/Lucida\ Sans\ Unicode\ Regular.ttf) format("truetype");
}
* {
    transition: all .3s ease-in;
}
.container {
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    background: #3399CC;
    border: 25px solid #2B81AC;
    padding: 66px 135px 181px 135px;
}
h1 {
    font-family: 'Lucida Sans Unicode';
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 37px;
}
p {
    font-family: 'Lucida Sans Unicode';
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
ul {
    display: block;
    margin: 0 auto;
    font-size: 0;
    border: 1px solid #FFFFFF;
    margin-bottom: 37px;
}
ul li {
    display: inline-block;
    list-style-type: none;
    font-family: 'Lucida Sans Unicode';
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding-top: 26px;
    padding-bottom: 39px;
    box-sizing: border-box;
    background: #ccc;
    position: relative;
}
ul:hover li:before {
    content: '';
    position: absolute; top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.6;
}
ul li:hover:before {
    opacity: 0;
}
ul li p {
    font-family: 'Lucida Sans Unicode';
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 4px;
}
ul li span {
    display: inline-block;
    font-family: 'Lucida Sans Unicode';
    font-size: 22px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 11px;
    vertical-align: super;
}
ul li i {
    font-size: 42px;
    color: rgba(255, 255, 255, 0.7);
}
.item_width-100 {
    width: 100%;
}
.item_width-50 {
    width: 50%;
}
.item_width-25 {
    width: 25%;
}
.item_background-color-blue {
    background-color: #64afd5fc;
}
.item_background-color-tifany {
    background-color: #33CCCC;
}
.item_background-color-lilac {
    background-color: #996699;
}
.item_background-color-red {
    background-color: #C24747;
}
.item_background-color-orange {
    background-color: #E2674A;
}
.item_background-color-yellow {
    background-color: #FFCC66;
}
.item_background-color-ligt-green {
    background-color: #99CC99;
}
.item_background-color-gray {
    background-color: #669999;
}
.item_background-color-pink {
    background-color: #CC6699;
}
.item_background-color-green {
    background-color: #339966;
}
.item_background-color-green {
    background-color: #339966;
}
.item_background-color-violet {
    background-color: #666699;
}